body {
    background: url('../images/main_background.jpg');
    background-size: cover;
}

.navigation-row {
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 0px 0px 10px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    vertical-align: middle;
}

.top-nav {
    width: 100%;
    height: 50px;
    background: #1e1e27;
    opacity: 0.8;
}

.top-nav-left {
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #b5aec4;
    text-transform: uppercase;
}

.top-nav-menu {
    list-style: none;
    margin: 0;
}

.currency {
    display: inline-block;
    position: relative;
    min-width: 50px;
    border-right: solid 1px #33333b;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}

.currency > a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    text-transform: uppercase;
}

.currency > a > i {
    margin-left: 8px;
}

.currency:hover .currency-selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.currency-selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    padding: 0;
}

.currency-selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    list-style-type: none;
}

.currency-selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.currency-selection li a:hover {
    color: #b5aec4;
}

.currency-selection li:last-child a {
    border-bottom: none;
}

.language {
    display: inline-block;
    position: relative;
    min-width: 50px;
    border-right: solid 1px #33333b;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}

.language > a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}

.language > a > i {
    margin-left: 8px;
}

.language:hover .language-selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.language-selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
    padding: 0;
}

.language-selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    list-style-type: none;
}

.language-selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.language-selection li a:hover {
    color: #b5aec4;
}

.language-selection li:last-child a {
    border-bottom: none;
}

#slides {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 30px 0;
    margin: 30px 0;
    list-style-type: none;
}
  .slide {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
  }

  .showing {
      opacity: 1;
      z-index: 2;
  }

.slide:nth-of-type(1) {
    background: url("../images/mainpageslides/slide1.jpg");
}

.slide:nth-of-type(2) {
    background: url("../images/mainpageslides/slide2.jpg");
}

.slide:nth-of-type(3) {
    background: url("../images/mainpageslides/slide3.jpg");
}

.slide:nth-of-type(4) {
    background: url("../images/mainpageslides/slide4.jpg");
}

.slide:nth-of-type(5) {
    background: url("../images/mainpageslides/slide5.jpg");
}

.slide:nth-of-type(6) {
    background: url("../images/mainpageslides/slide6.jpg");
}

* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 7.5px 20px 7.5px 20px;
    display: flex;
}
.wrap div[class^='block'] {
    width: calc(100% / 3);
    min-height: 100px;
    padding: 10px;
    margin: 0 7.5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}
.wrap div[class^='block'] img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}


.container-album {
    width: 100%;
    min-height: 700px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 1;
    opacity: 0.8;
}

.container-album::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrap-album {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 7.5px 55px 7.5px 55px;

    background: #9152f8;
    background: -webkit-linear-gradient(top, #ff6377, #f04760);
    background: -o-linear-gradient(top, #ff6377, #f04760);
    background: -moz-linear-gradient(top, #ff6377, #f04760);
    background: linear-gradient(top, #ff6377, #f04760);
}

.user-form-avatar {
    font-size: 60px;
    color: #333333;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.category-header {
    width: 100%;
    min-height: 30px;
    padding: 20px 10px 10px 10px;
    margin: 7.5px 7.5px;
    text-align: center;
    vertical-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
}

.showcase {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    margin: 0 7.5px;
    text-align: center;
}

.container-more-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.more-form-btn {
    font-family: Poppins-Medium;
    font-size: 14px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;

    background: #9152f8;
    background: -webkit-linear-gradient(top, #ff6377, #f04760);
    background: -o-linear-gradient(top, #ff6377, #f04760);
    background: -moz-linear-gradient(top, #ff6377, #f04760);
    background: linear-gradient(top, #ff6377, #f04760);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.more-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #ffffff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.more-form-btn:hover {
    color: #fff;
}

.more-form-btn:hover:before {
    opacity: 0;
}